<%- include('./base.ejs') %>

<div class="container row mx-auto mt-md-4" style="width: 40rem;">
  <form action="/customer/loanlist/" method="GET" class="col">
      <div class="form-group row">
        <input type="number" name="search" class="form-control col"  placeholder="Filter by Loan-ID">
        <input type="number" name="amount" class="form-control col"  placeholder="Filter by Loan-Amount">
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" name="approved" value="Approved" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Approved</label><br>
        <input type="checkbox" class="form-check-input" name="rejected" value="Rejected" id="exampleCheck2">
        <label class="form-check-label" for="exampleCheck2">Rejected</label><br>
        <input type="checkbox" class="form-check-input" name="new" value="New" id="exampleCheck3">
        <label class="form-check-label" for="exampleCheck3">New</label>
      </div>
      <input type="submit" class="btn-primary">
    </form>
  </div>
  
<div class="container mt-4">
  <table class="table">
    <thead class="thead-dark">
      <tr style="text-align: center;">
        <th scope="col">ID</th>
        <th scope="col">CustomerName</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Amount</th>
        <th scope="col">Adhaar</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
  
      </tr>
    </thead>
    <tbody>
      
      <% for(let i=0; i<loans.length; i++){ %>
        <tr>
          <th>
            <%= loans[i].id %>
          </th>
          <th>
            <%= loans[i].customername %>
          </th>
          <th>
            <%= loans[i].email %>
          </th>
          <th>
            <%= loans[i].phone %>
          </th>
          <th>
            <%= loans[i].amount %>
          </th>
          <th>
            <%= loans[i].pancard %>
          </th>
          <th>
            <%= loans[i].status %>
          </th>
          <form>
            <input type="hidden" name="emailhide" value="<%= loans[i].email %>">
            <input type="hidden" name="hidden" value="<%= loans[i].id %>">
            <th><button type="submit" class="btn btn-primary">cancel</button></th>
        </form>
        </tr>
        <% } %>
    </tbody>
  </table>

  </div>
  <!-- Optional JavaScript -->
  <script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null,null, window.location.href );
    }
</script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script> -->
  </body>

  </html>