<%- include('./base.ejs') %>

  
  
<div class="container mt-4">
  <table class="table">
    <thead class="thead-dark">
      <tr style="text-align: center;">
        <th scope="col">ID</th>
        <th scope="col">CustomerName</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Amount</th>
        <th scope="col">Adhaar</th>
        <th scope="col">Status</th>
        <th scope="col" colspan="2">Action</th>
      </tr>
    </thead>
    <tbody>
      
      <% for(let i=0; i<loans.length; i++){ %>
        <tr>
          <th>
            <%= loans[i].id %>
          </th>
          <th>
            <%= loans[i].customername %>
          </th>
          <th>
            <%= loans[i].email %>
          </th>
          <th>
            <%= loans[i].phone %>
          </th>
          <th>
            <%= loans[i].amount %>
          </th>
          <th>
            <%= loans[i].pancard %>
          </th>
          <th>
            <%= loans[i].status %>
          </th>
          <form action="" method="get" autocomplete="off">
            <th>
              <select name="status" id="">
                <option value="Approved">Approved</option>
                <option value="Rejected">Rejected</option>
              </select>
            </th>
            <input type="hidden" name="emailhide" value="<%= loans[i].email %>">
            <input type="hidden" name="hidden" value="<%= loans[i].id %>">
            <th><button type="submit" class="btn btn-primary">update</button></th>
          </form>
        </tr>
        <% } %>
    </tbody>
  </table>
  </div>
  <!-- Optional JavaScript -->
  <!-- <script>
    if (window.history.replaceState) {
      window.history.replaceState(null, null, window.location.href);
    }
    // formSubmit.addEventListener('click', (event) => {
    //   event.preventDefault();  // 👈

    //   // ...send the form data and get a response asynchronously
    // });
  </script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script> --> -->
  </body>

  </html>